language: php
php:
 - '5.4'
 - '5.5'
 - '5.6'
 - '7.0'
 - hhvm
 - nightly

matrix:
  allow_failures:
    - php: 5.4
    - php: 5.5
    - php: 5.6
    - php: hhvm
    - php: nightly

before_script:
  - composer self-update
  - composer require php-coveralls/php-coveralls

after_success:
  - bash <(curl -s https://codecov.io/bash)

script: 
  - vendor/bin/phpunit --coverage-clover=coverage.xml
