language: php
php:
  - 5.6
  - 7.0
  - 7.1
  - hhvm
  - nightly

matrix:
  allow_failures:
    - php: 5.6
    - php: 7.0
    - php: hhvm
    - php: nightly
  fast_finish: true

before_script:
  - composer self-update
  - composer require php-coveralls/php-coveralls

after_success:
  - bash <(curl -s https://codecov.io/bash)

script: 
  - vendor/bin/phpunit --coverage-clover=coverage.xml
